.authorized-dealer-page .section-wrapper {
    margin: 0;
}

.authorized-dealer-page .section--page-width {
    display: block;
}

.authorized-dealer-page .shopify-app-block {
    width: 100%;
}

.authorized-dealer-page .shopify-block.shopify-app-block {
    width: 100%;
}

.authorized-dealer-page .color-scheme-1 {
    background-color: #000;
    color: #fff;
}

.authorized-locator-page .content-sections {
    padding: 100px var(--gutter);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.authorized-locator-page .section-wrapper {
    margin: 0;
    font-family: "Sennheiser Neue";
}

.authorized-locator-page .section-wrapper .container {
    max-width: 1324px;
    padding: 0;
}

.dealer-locations-section .custom-location-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 16px;
    background: #0F1010;
    border: 2px solid #222222;
    border-radius: 4px;
}

.dealer-locations-section .custom-location-card .title-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.dealer-locations-section .custom-location-card .title-block h4 {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.dealer-locations-section .custom-location-card .title-block span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #818183;
}

.dealer-locations-section .icon-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dealer-locations-section .btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.dealer-locations-section .btn-wrap .btn {
    margin: 0;
    min-width: unset;
    padding: 5px 10px;
    min-height: 42px;
    flex: 1;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
}

.dealer-locations-section .btn-wrap .btn.secondary-btn {
    border: 2px solid #222222;
}

.dealer-locations-section .icon-list li {
    display: flex;
    color: #818183;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    gap: 4px;
}

.dealer-locations-section .icon-list em {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dealer-locations-section .icon-list li a {
    color: inherit;
    font: inherit;
}

.dealer-locations-section .dealer-location-block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-height: 820px;
}

.dealer-locations-section .left-block {
    flex: 0 0 36.25%;
    max-width: 36.25%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 2px solid #222222;
    max-height: inherit;
    overflow: hidden;
}

.dealer-locations-section .upper-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 6px;
    border-bottom: 2px solid #222222;
}

.dealer-locations-section .upper-block h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    font-family: inherit;
}

.dealer-locations-section .upper-block p {
    font-size: 14px;
    line-height: 1.4;
    color: #818183;
}

.dealer-locations-section .lower-block {
    padding: 24px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dealer-locations-section .right-block {
    flex: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dealer-locations-section .right-block .map {
    height: 100%;
    width: 100%;
}

.dealer-locations-section .right-block iframe,
.dealer-locations-section .right-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dealer-locations-section .content-block {
    width: 100%;
}

.dealer-locations-section .search-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.dealer-locations-section .search-container .left-wrap {
    flex: 0 0 52.79%;
    max-width: 52.79%;
}

.dealer-locations-section .input-box {
    background: #333;
    border-radius: 4px;
    padding: 8px 12px;
    min-height: 42px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.dealer-locations-section .input-box::before {
    content: "";
    background: url("./gray-search-icon.svg")center/contain no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.dealer-locations-section .input-box::after {
    content: "";
    background: url("./location-input-icon.svg")center/contain no-repeat;
    display: block;
    height: 18px;
    width: 18px;
}

.dealer-locations-section .input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-overflow: ellipsis;
}

.dealer-locations-section .dropdown-btn .placeholder,
.dealer-locations-section .input-box input::placeholder {
    color: #818183;
    font-weight: 400;
}

.dealer-locations-section .search-container .right-wrap {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.dealer-locations-section .search-container,
.dealer-locations-section .search-container .right-wrap,
.dealer-locations-section .dropdowns-wrap {
    gap: 20px;
}

.dealer-locations-section .dropdowns-wrap {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.dealer-locations-section .dropdown.category {
    flex: 0 0 62%;
    max-width: 62%;
}

.dealer-locations-section .dropdown {
    position: relative;
    flex: 1;
    white-space: nowrap;
}

.dealer-locations-section .dropdown-btn {
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    overflow: hidden;
}

.dealer-locations-section .dropdown-btn span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    flex: 1;
    overflow: hidden;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.dealer-locations-section .search-container .btn {
    min-height: 42px;
    padding: 8px 21px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.dealer-locations-section .dropdown-btn::after {
    content: "";
    background: url("./down-arrow.svg")center/14px no-repeat;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;
    margin-right: -4px;
}

.dealer-locations-section .dropdown-list {
    position: absolute;
    top: 105%;
    left: 0;
    min-width: 100%;
    background: #333;
    border-radius: 4px;
    display: none;
    overflow: hidden;
    z-index: 10;
    font-size: 14px;
    font-weight: 500;
}

.dealer-locations-section .dropdown-list div {
    padding: 11px;
    color: white;
    cursor: pointer;
}

.dealer-locations-section .dropdown.active .dropdown-list {
    display: block;
}

.dealer-locations-section .radius {
    min-width: 120px;
}

@media (hover: hover) {
    .dealer-locations-section .icon-list li a:hover {
        text-decoration: underline;
    }

    .dealer-locations-section .btn-wrap .btn.secondary-btn:hover {
        background-color: #222222;
    }

    .dealer-locations-section .dropdown-list div:hover {
        background: #444;
    }
}

@media (max-width:1199px) {
    .dealer-locations-section .search-container .left-wrap {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .dealer-locations-section .dropdown.category {
        flex: 0 0 58%;
        max-width: 58%;
    }
}

@media (max-width: 1024px) {
    .authorized-locator-page .content-sections {
        gap: 16px;
    }

    .dealer-locations-section .search-container,
    .dealer-locations-section .search-container .right-wrap,
    .dealer-locations-section .dropdowns-wrap {
        gap: 16px;
    }

    .dealer-locations-section .dealer-location-block {
        gap: 24px 16px;
    }

    .dealer-locations-section .left-block {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (max-width: 991px) {

    .dealer-locations-section .search-container .left-wrap {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .dealer-locations-section .dropdown.category {
        flex: 0 0 65%;
        max-width: 65%;
    }

    .dealer-locations-section .dropdowns-wrap {
        flex-wrap: nowrap;
    }
}

@media (max-width: 900px) {
    .dealer-locations-section .dealer-location-block {
        max-height: unset;
    }

    .dealer-locations-section .left-block {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 820px;
    }

    .authorized-locator-page .content-sections {
        padding: 60px var(--gutter);
    }
}

@media (max-width: 667px) {
    .hero-banner-section {
        display: none;
    }
    .authorized-locator-page .content-sections {
        padding: 94px var(--gutter) 60px;
    }
    .dealer-locations-section .dropdowns-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        gap: 16px 8px;
        flex-wrap: wrap;
    }

    .dealer-locations-section .dropdown.category,
    .dealer-locations-section .search-container .btn {
        flex: 1;
        max-width: 100%;
    }

    .dealer-locations-section .search-container .btn {
        margin-top: 4px;
    }
}
@media (max-width: 480px) {
    .dealer-locations-section .dropdown.category,
    .dealer-locations-section .dropdown {
        flex: 0 0 100%;
        max-width: 100%;
    }
}